<main class="container">
  <div class="devoir-list">
    <!--<h1 *ngIf="user">Bienvenue {{user.pseudo}}</h1>-->
    <h1>Liste des devoirs </h1>
  </div>


  <div class="body-assignment">

  <mat-tab-group color="accent" backgroundColor="primary" >


    <mat-tab label="Rendu">

      <div class="assign-contain">

          <mat-card class="example-card" *ngFor="let aRendu of assignmentsRendu">

            <img mat-card-image class="bann-img" src="{{aRendu.matiere.image}}">
            <mat-card-title-group>
              <mat-card-title>{{aRendu.nom}} ({{aRendu.matiere.nom}}) : {{aRendu.matiere.prof.sexe}} {{aRendu.matiere.prof.nom}}</mat-card-title>
              <mat-card-subtitle>{{aRendu.dateDeRendu | date:"dd/MM/yy"}}</mat-card-subtitle>
              <img mat-card-sm-image class="img-profil" src="{{aRendu.matiere.prof.photo}}" >
            </mat-card-title-group>

            <mat-card-content>
              <p>
                <strong>Elève : </strong>{{aRendu.auteur}}
              </p>
              <p>
                <strong>Note : </strong> <span *ngIf="aRendu.note; else nr">{{aRendu.note}}</span><ng-template #nr>Pas encore de note</ng-template>
              </p>
              <p>
                <strong>Statut : </strong> <span *ngIf="aRendu.rendu; else rendu">Devoir rendu</span><ng-template #rendu>Pas encore rendu</ng-template>
              </p>

              <mat-card-actions>
                <button mat-raised-button (click)="onDetails(aRendu._id)">DETAILS</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>


      </div>
    </mat-tab>

    <mat-tab label="Non rendu">
      <div class="assign-contain" >
          <mat-card class="example-card" *ngFor="let aRendu of assignmentsNonRendu">
            <img mat-card-image class="bann-img" src="{{aRendu.matiere.image}}">
            <mat-card-title-group>
              <mat-card-title>{{aRendu.nom}} ({{aRendu.matiere.nom}}) : {{aRendu.matiere.prof.sexe}} {{aRendu.matiere.prof.nom}}</mat-card-title>
              <mat-card-subtitle>{{aRendu.dateDeRendu | date:"dd/MM/yy"}}</mat-card-subtitle>
              <img mat-card-sm-image class="img-profil" src="{{aRendu.matiere.prof.photo}}" >
            </mat-card-title-group>

            <mat-card-content>
              <p>
                <strong>Elève : </strong>{{aRendu.auteur}}
              </p>
              <p>
                <strong>Note : </strong> <span *ngIf="aRendu.note; else nr">{{aRendu.note}}</span><ng-template #nr>Pas encore de note</ng-template>
              </p>
              <p>
                <strong>Statut : </strong> <span *ngIf="aRendu.rendu; else rendu">Devoir rendu</span><ng-template #rendu>Pas encore rendu</ng-template>
              </p>

              <mat-card-actions>
                <button mat-raised-button (click)="onDetails(aRendu._id)">DETAILS</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>

      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-paginator class="pagin"
                 [length]="nbassignment"
                 [pageSize]="limit"
                 [pageSizeOptions]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                 [showFirstLastButtons]="true"
                 (page)="onchangePage($event)"
                 aria-label="Assignments">
  </mat-paginator>
  </div>

</main>
