<form ngForm #assignmentForm (submit)="onSubmit(); assignmentForm.reset()" class="form">
  <mat-form-field>
    <input matInput placeholder="Nom de l'assignment" [(ngModel)]="nomAssignment" name="nom" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nom de l'étudiant" [(ngModel)]="auteur" name="auteur" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Note" [(ngModel)]="note" name="note" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Remarques" [(ngModel)]="remarques" name="remarques" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>
  <select [(ngModel)]="matiere" name="matiere">
    <option *ngFor="let mat of matieres" [ngValue]="mat" >{{mat.nom}} (Prof : {{mat.prof.nom}} {{mat.prof.prenom}} )</option>
  </select>

    <button mat-stroked-button color="primary" [disabled]="((!this.nomAssignment) || (!this.dateDeRendu) || (!this.matiere))">
      Ajouter un devoir
    </button>
</form>
